:root {
  color-scheme: light dark;
}

body {
  color: #294545;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #E1E0E2;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  margin: 0;
}

.profile {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.summary {
  font-weight: 600;
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 0;
}

.box {
  background-color: #062D31;
  max-width: 350px;
  color: #E1E0E2;
  border-radius: 15px;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.box:hover {
  background-color: rgba(6, 45, 49, 0.6);
}

.box h1{
  font-weight: 700;
  font-size: 30px;
  padding-top: 2%;
}

.box hr{
  size: 1px;
  width: 70%;
  border-color: #E1E0E2;
  background-color: #161435;
  margin: 0 auto;
}

.box p{
  padding: 0% 8% 0% 8%;
  margin: 0;
  word-wrap: break-word;
}

.box img{
  padding: 2%;
}

.box img:hover, .box img:focus, .box img:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

@media (prefers-color-scheme: dark) {
    /* Overrides for Dark Mode. */
    body {
        color: #E1E0E2;
        background-color: #062D31;
    }

    .box {
      color: #062D31;
      background-color: rgba(225, 224, 226, 0.6);
    }

    .box:hover {
      background-color: rgba(225, 224, 226, 0.4);
    }

    .box hr{
      border-color: #062D31;
    }
}

#music{
  height: 50%;
  width: 50%;
}

.size {
  height: 30px;
}
